# Variables de entorno para los microservicios

# Configuración de Kafka
KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=nestjs-microservices

# Configuración de puertos
USER_SERVICE_PORT=3001
CREATE_USER_SERVICE_PORT=3002
LOGGING_SERVICE_PORT=3003

# Configuración de logging
LOG_LEVEL=INFO
