# LocalStack Configuration
AWS_REGION=us-east-1
AWS_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# Application Configuration
PORT=3000
NODE_ENV=development

# DynamoDB Configuration
DYNAMODB_TABLE_NAME=Users

